.parent {
    display: grid;
    grid-template-columns: 0.1fr repeat(3, 1fr) 0.1fr;
    grid-template-rows: 0.3fr 1fr 0.5fr repeat(2, 1fr) 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    }
    
    .div1 { grid-area: 2 / 2 / 3 / 5; }
    .div2 { grid-area: 3 / 2 / 4 / 5; }
    .div3 { grid-area: 4 / 2 / 5 / 5; }
    .div4 { grid-area: 5 / 2 / 6 / 5; }

.adamastor{
    text-align: justify;
}
.texto-do-cases{
    text-align: center;
    margin-bottom: 15px;
}

  /* CONTAINER DO QUEM SOMOS */
  .espacamento{
    margin-top: 10%;
    text-align: center;
}
.container-fluid{
    display: block;
    max-width: 100%;
	padding: 50px 50px 50px 50px;

    background: linear-gradient(-45deg, #24dd13, #21e221, #1ba817, #1d8b13);
    background-size: 400% 400%;
    animation: gradient 6.5s ease infinite;

}
/* DEGRADE DE COR */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* CORRIGIR OS TEXTOS */
#fonte-texto{
    font-size: 45px;
}
h6{
    margin-top: 15px;
}