.classe{
    margin-top: 5%;
    width: 100%;
    
    align-items: center;
  }
  .container-fluid{
    display: block;
    max-width: 100%;
  padding: 50px 50px 50px 50px;
  
    background: linear-gradient(-45deg, #24dd13, #21e221, #1ba817, #1d8b13);
    background-size: 400% 400%;
    animation: gradient 6.5s ease infinite;
  
  }
  /* DEGRADE DE COR */
  @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  }
  /* CORRIGIR OS TEXTOS */
  #fonte-texto{
    font-size: 45px;
  }
  h6{
    margin-top: 15px;
  }
  .espacamento{
    margin-top: 10%;
    text-align: center;
  }
  label{
    margin-top: 20px;
  }