.container-tecnologias {
  
    max-width:100%
}


.container-clientes {
    margin-top: 60px;
    margin-bottom: 50px;
}

.slider-clientes {
    color: #414345;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}


.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

/*limita o slide*/
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.slick-slide {
    display: none;
    float:left;/*para as imagens do carrossel aparecerem*/
    height: 100%;
    min-height: 1px;
}


/*slide não aparece */
.slick-initialized .slick-slide {
    display: block;
}

/*cor e formato do background das imagens*/
.slide {
    border-radius: 5%;
    background-color: white;
    padding: 11px;
    
}

/*formata os slides dos clientes*/
.tecnologias{
    line-height: 69px;
}

/*Slides Tecnologia e clientes*/
.container-arrows{
    position:absolute;/*para sobrepor o slide*/
    display:flex;/*alinha as arrows*/
    width: 100%;
    margin-top:45px;/*distancia do top para centralizar*/
    padding: 10px;
    margin-left: 45px;
    height: 89px;/*não muda nada*/
    
}
.slick-arrow-position{
    position: absolute;
}

.next-tecnologias,.next-clientes{
    margin-left: 86%;/*alinha para a direita da pagina*/
}

/*Fim dos Slides*/

/*Ajusta tamanho dos Icons next e prev*/
.tamanho-svg-prev, .tamanho-svg-next{
    height: 70px;
    width: 80px;
}

