/*caso o bootstrap não funcione



/* =============================ÁREA DE RESPONSIVIDADE ============================= *//*
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50.00%;}
.col-7 {width: 54.53%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 1400px) {
  aside {
    position: absolute;
    top: 7%;
  }
}
@media only screen and (max-width: 1350px) {
  aside {
    position: absolute;
    top: 6%;
    
  }
  #sectionmaintop {
    height: 65%;
  }
  #feed {
    margin-top: 18%;
  }
}

@media only screen and (max-width: 1264px) {
  aside {
    position: absolute;
    top: 6%;
    

  }
  #sectionasidetop {
    height: 18%;
    width: 100%;
  }
  #sectionasidebotton {
    height: 71%;
  }

  #sectionmaintop {
    height: 80%;
  }
  #sectionmainbotton {
    height: 10%;
  }
  #video {
    height: 78%;
    width: 120%;
  }
  #feed {
    margin-top: 30%;
  }
  #c2{
   margin-left: 20%; 
  }
  #c3 {
    width: 50%;
  }
  #contato {
    margin-top: 10%;
  }

}

@media only screen and (max-width: 920px) {
  /* For mobile phones: 
  [class*="col-"] {
    width: 90%;
  }
  header {
    height: 14em;
    
  }
  header > section {
    border: 1px solid #000;
    height: 85%;
    margin: 0 auto;
    margin-top: 3%;
    float: left;
    margin-left: 25px;
  }
  #c1 {
    font-size: 45px;
    
  }
  main {
    position:relative;
    margin-top: 0%;
    height: 92em;
  }
  aside {
    position: absolute;
    left: 5%;
    top: 0%;
    height: 73%;
    
  }
  #sectionasidetop {
    margin-left: 5%;
  }
  #sectionasidebotton {
    margin-left: 5%;
  }
  #c2{
    margin: 0 auto;
    margin-top: 13%;
    margin-left: 20%;
  }
  #c3{
   
    margin-top: 10%;
    margin-left: 30%;
  }
  #articlesobre {
    height:75%;
    margin-top: 660px;
    margin-left: 5%;
  }
  #sectionmaintop {
    border: 1px solid #000;
    height: 63%;
    margin-top: 66%;
    margin-left: 3%;

  }
  #sectionmainbottom {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 35%;
    width: 70%;
    margin: 0 auto;
    margin-top: 8%;
    margin-right: 21%;
  }

  #feed {
    display: block;
    margin-top: 70%;
  }
  #comentarios {
    width: 100%;
  }
  #contato {
    margin-top: 95%;
  }

}

@media only screen and (max-width: 776px){

  #contato {
    margin-top: 100%;
  }

  #sectionmaintop {
    margin-top: 85%;
  }
  
}

@media only screen and (max-width:659px){

  #contato {
    margin-top: 120%;
  }
  
}


@media only screen and (max-width: 566px) {
  
  #articlesobre {
    margin-top: 160%;
  }

  #contato {
  margin-top: 150%;
}

}
@media only screen and (max-width: 476px) {
  header > section {
    margin-left: 24px;
    width: 30%;
  }

#video{
  width: 100%;
  height: 100%;
}

#sectionmaintop {
 height: 80%;
 margin-top: 170%;
}

aside {
  height: 85%;
}

#c2 {
  margin-left: 14%;
}

#c3  {
  width: 80%;
  margin-left: 5%;
}

#sectionmainbotton {
  height: 50%;
  width: 90%;
  margin-top: 190%;
}

#video {
  height: 60%;
  width: 120%;
}

#feed {
  margin-top: 190%;
}

#contato {
  margin-top: 230%;
}

}

@media only screen and (max-width: 399px) {
  #articlesobre {
    margin-top: 260%;
  }

  #contato {
    margin-top: 270%;
  }

  #sectionmaintop {
    margin-top: 115%;
  }
}

@media only screen and (max-width: 322px) {
  
  aside {
    height: 105%;
  }


  #articlesobre {
    margin-top: 420%;
  }

  #feed {
    margin-top: 200%;
  }

  #contato {
    margin-top: 500%;
  }

  #sectionmaintop {
    margin-top: 180%;
    height: 90%;
  }

  footer {
    margin-top: 30%;
  }
}*/