.parent {
    display: grid;
    grid-template-columns: 0.25fr 1fr repeat(2, 0fr) 0.1fr;
    grid-template-rows: repeat(3, 0.3fr) repeat(2, 0fr);
    grid-column-gap: 0px;
    grid-row-gap: 2px;
    }
    
    .div1 { grid-area: 2 / 2 / 3 / 3;}
    .div2 { grid-area: 3 / 2 / 4 / 3; }

    h1{
        font-size: large;
        margin-top: 20px;
    }